<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1" <link rel="stylesheet" href="/aboutStyle.css" /> -->

  <meta charset="utf-8">
  <title>Wiztro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./style/style.css')}}" />
  <!--link rel="stylesheet" href="../static/style/style.css" /> -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.gallery__img').on('click', function(e) {
        e.preventDefault();
        console.log('your message');
        $(this).toggleClass('gallery__img_selected');
      });
    });
  </script>

</head>

<body>


  <div class="navigationbar">

    <div class="leftnavbar">
      <img class="wiztro_logo" src="../static/img/Wiztro_Logo.png" /></img>
    </div>


    <div class="rightnavbar">
      <a class="inactive">Tipps</a>
      <a class="inactive">Tutorials</a>
      <a class="active">Generator</a>
      <!-- <a class="active" href="/about.html">Generator</a> -->
    </div>

    <div class="profilenavbar">
      <img class="profile_logo" src="../static/img/Profile_Logo.png" /></img>
    </div>

  </div>
  <div class="header_start">
    <h1>Was möchtest du veröffentlichen?</h1>
  </div>
  <div class="subheader">
    <h2>Printmedien</h2>
  </div>

  <div class="container">

    <div class="gallery">
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 2">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 3">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 4">
      </figure>
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 2">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 3">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 4">
      </figure>
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
    </div>

  </div>

  <div class="subheader">
    <h2>Digitale Medien</h2>
  </div>

  <div class="container">

    <div class="gallery">
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 2">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 3">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 4">
      </figure>
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 2">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 3">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 4">
      </figure>
      <figure class=”gallery__item gallery__item--1">
        <img src="../static/img/stempelkarte_oko.png" class="gallery__img" alt="Image 1">
      </figure>
    </div>

  </div>

  <div class="button_holder">
    <button class="next_button" type="button" onclick="location.href='/generator_1.html';" onclick="">Weiter</button>
  </div>



</body>

</html>
