<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1" <link rel="stylesheet" href="/aboutStyle.css" /> -->
  <meta charset="utf-8">
  <title>Wiztro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./style/style.css')}}" />
  <!-- <link rel="stylesheet" href="../static/style/style.css" /> -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.platt_box').on('click', function(e) {
        e.preventDefault();
        console.log('your message');
        $(this).toggleClass('platt_box_selected');
      });
    });
  </script>

</head>

<body>


  <div class="navigationbar">

    <div class="leftnavbar">
      <img class="wiztro_logo" src="../static/img/Wiztro_Logo.png" /></img>
    </div>


    <div class="rightnavbar">
      <a class="inactive">Tipps</a>
      <a class="inactive">Tutorials</a>
      <a class="active">Generator</a>
      <!-- <a class="active" href="/about.html">Generator</a> -->
    </div>

    <div class="profilenavbar">
      <img class="profile_logo" src="../static/img/Profile_Logo.png" /></img>
    </div>
  </div>

  <div id="container_1">

    <div id="leftThing2">

      <div class="num_2">

        <div class="progress">

          <h1>Hochladen</h1>
          <h5>Auswählen</h5>

          <div id="progressbar2">
            <div></div>
          </div>
        </div>
        <div class="description">
          <div class="border_box">

            <h4>Hier kannst du einstellen, wen du primär erreichen möchtest.<br>
              Das kann dabei helfen, die Sichtbarkeit<br>
              deines Gastro Unternehmens auf neue Personen Gruppen auszuweiten!<br></h4>
          </div>
        </div>
        <div class="plattformen">
          <div class="platt_container">


            <div class="platt_box">
              <h4>Facebook</h4>
            </div>
            <div class="platt_box">
              <h4>Instagram</h4>
            </div>
            <div class="platt_box">
              <h4>Twitter</h4>
            </div>
          </div>
        </div>



      </div>


      <div class="container">


        <div class="button_holder_1">
          <button class="prev_button" type="button" onclick="location.href='/start_1';" onclick="">Vorheriger Schritt</button>
          <button class="next_button" type="button" onclick="location.href='/start_3?name=bildnummer';" onclick="">Nächster Schritt</button>
        </div>



      </div>
    </div>

    <div id="rightThing">
      <div class="header2">
        <h1>Auswahl</h1>
      </div>

      <div class="container">

        <div class="gallery_2">
          <figure class=”gallery__item gallery__item--1">
            <img src="../static/img/stempelkarte_oko.png" class="gallery__showcase" alt="Image 1">
          </figure>
        </div>

      </div>

    </div>

  </div>

</body>

</html>